/* App.css */

body {
  background: linear-gradient(to right, #00c6ff, #0072ff); /* Fundo gradiente azul */
  font-family: 'Arial', sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.message.sent {
  background-color: #0072ff;
  color: white;
  margin-left: auto;
}

.message.received {
  background-color: #e5e5ea;
  color: #333;
  margin-right: auto;
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-input button {
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
}

.send-icon {
  font-weight: bold;
}

.chat-input button:hover {
  background-color: #005bb5;
}
