#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('./rimur.jpg'); /* Se a imagem está na mesma pasta que o arquivo CSS */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

